@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* 1. COLOR VARIABLES */
@layer base {
  :root.light {
    --color-primary: #395d91;
    --color-secondary: #0a162e;

    --color-background: #ffffff;
    --color-foreground: #0a162e;
  }

  :root.dark {
    --color-primary: #6b8cce;
    --color-secondary: #ffffff;

    --color-background: #0a162e;
    --color-foreground: #ffffff;
  }
}

/* 2. TAILWIND THEME HOOK-IN */
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
}
